@import "src/mixins";



:host {
  height: 4rem;
}

.orderByNavbar {
  width: fit-content;
  align-self: flex-start;
  height: 100%;
  //border-radius: 4px;
  box-shadow:  1px 1px 1px 1px rgb(0,0,200, 0.3);
  border-top: none;
  border-left: none;
  margin-right: auto;
  font-size: 1.2rem;

  @include flexCenter;

  &:hover .orderByNavbar__optionsList {
    opacity: 1 ;
    visibility: visible ;
  }

  &__label {
    white-space: nowrap;
  }

  &__optionsWrapper {
    z-index: 3333;
    position: relative;
    height: 100%;
    @include flexCenter;

    & span {
      border-top: none ;
      border-right: none ;
      background: linear-gradient(0deg, #4dfdba 0%, rgba(77, 253, 186, 0) 100%);
    }
  }

  &__optionsList {
    list-style: none;
    position: absolute;
    top:112%;
    left:0;
    transition: 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
  }


  &__option {
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    padding: 1rem 2rem;
    width: 22rem;
    height: 100%;
    border-bottom:1px solid rgb(0,0,200, 0.3);
    &:not(:last-child) { border-bottom: none }

    &:hover { background-color: #CAFFCA }
  }

}

